@import url("../uicore/uicore.css");

#homelink {
width: 326px;
    background: url('icons/Logo_Minagri.png') left no-repeat;
}
#homelink.HomeSelect::after{
left: 45px;
top: 42px;
}
#homelink:hover{
background-size: 328px;
}

.optionsBar {
     background: url('icons/Logo_Minagri_only.png') right no-repeat;
}
@media only all and (max-width: 750px) {
#homelink {
width: 38px;
    background: url('icons/Logo_Minagri_32.png') left no-repeat;
}
#homelink:hover{
background-size: 39px;
}
}

@media only all and (max-width: 479px) {
#homelink {
width: 38px;
    background: url('icons/Logo_Minagri_32.png') left no-repeat;
}
#homelink:hover{
background-size: 30px;
}
.controlBar:hover #homelink.HomeSelect::after{
left: 30px;
top: 30px;
}
.controlBar:hover #homelink {
height: 33px;
width: 33px;
    background: url('icons/Logo_Minagri_32.png') center no-repeat;
background-size: 33px;
}
.controlBar:hover #homelink:hover{
background-size: 33px;
}
.controlBar:hover #homelink select {
height: 33px;
width: 33px;
min-width: 33px;
}
}